.calculator
{
    width: 400px;
    height: 600px;
    background-color: gray;
    margin-left: 240px;
    margin-top: 16px;
}



#screen
{
    height: 35px;
    width: 80%;
    margin-left: 34px;
    margin-top: 23px;
    pointer-events: none;
}

.btn
{
    width: 75px;
    height: 37px;
    margin-top: 31px;
    margin-left: 19px;
}